
.btn-text {
    text-align: center;
    font-family: 'Padauk', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
}

#contenido {
    margin-top: 40px;
}


.error {
    font-family: 'Padauk', sans-serif;
    background-color: red;
    text-align: center;
    text-transform: uppercase;
    max-width: 400px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.tabla-tareas {
    font-family: 'Padauk', sans-serif;
    font-size: 1.5rem;
    
}
.btn-text {
    color: white;
}

